.App {
  font-family: sans-serif;
  text-align: center;
}

#head {
  font-size: 2rem;
}

.labels {
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.inputs {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.4rem;
  width: 20rem;
  height: 1.5rem;
  border: 1.5px solid black;
  border-radius: 5px;
}

.inputs:focus {
  box-shadow: 2px 2px 3px lightseagreen;
}

#submit {
  margin: 1rem 0;
  width: 8rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

#display {
  font-size: 1.5rem;
}

/* Footer */

.footer{
  background-color: black;
  position: relative;
  bottom: 0;
  margin: 3rem auto 0 auto;
}

.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0; 
}

.sm-icons{
  font-size: 1.5rem;
  color: white;
  list-style: none;
  display: inline;
  margin: 1rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  transition: all 0.4s;
}

.sm-icons:hover{
  transform: scale(1.5);
}

.sm-links{
  color: white;
  text-decoration: none;
}

/* Footer ends */
